<h2><small><br>SharePoint Online</h2></small></br>
<p>SharePoint Online le permite administrar y compartir documentos con su equipo de trabajo, además puede crear y modificar documentos de Office y guardarlos directamente en SharePoint Online.</p>
<p>Mediante SharePoint Online puede acceder a documentos importantes cuando no esté conectado a Internet gracias a SharePoint Workspace. Use la comunicación en tiempo real con los compañeros desde SharePoint Online.
Manténgase al día de la información y las noticias de la compañía, mediante las actualizaciones en SharePoint Online.</p>
<h2><small><br>Lync Online</h2></small></br>
<p>Lync Online es un servicio de comunicación en la nube que permite la mensajería instantánea, llamadas de audio y video llamadas.
Realice con Lync Online, presentaciones en línea con audio, vídeo, uso compartido de pantallas y una pizarra virtual ante clientes y compañeros.</p>
<p>Además Lync le permite ver el estado de presencia y poder comunicarse desde Microsoft Outlook, SharePoint y otras aplicaciones de Office, totalmente integrado.</p>